*
*/
!README.md
!.gitignore
!comments.php
!footer.php
!functions.php
!header.php
!index.php
!page-contact.php
!page-gallery.php
!page-home.php
!page-services.php
!page.php
!readme.txt
!rtl.css
!screenshot.png
!screenshot.svg
!search.php
!sidebar.php
!single.php
!style.css
!template-parts/
